---
import Card from "./Card.astro";
import Badge from "./Badge.astro";
import Term from "./Term.astro";
import BadgeSection from "./BadgeSection.astro";
import {processData} from "../scripts/processData";
import RelatedTerm from "./RelatedTerm.astro";
const {word, entry} = Astro.props;
const {
    printKatakana,
    aliasString,
    numDistinctTerms,
    allTerms,
    generalTerm,
    originTerm,
    originFlags,
    originEval,
    correctionNeeded,
    correction,
    correctionEval,
    hasNotes,
    hasSources
} = processData(word, entry);
---

<div class="details-card" id={word + "-results"}>
    <Card>
        <div class="header-section">
            <div class="term-info">
                <h1 class="katakana"><b>{printKatakana}</b><span class="alias-string">{aliasString}</span></h1>
                <Term evaluation={correctionNeeded ? originEval : "neutral"} countries={originFlags}>
                    {originTerm}
                </Term>
            </div>
            <BadgeSection tags={entry.tags}/>
        </div>
        <hr/>
        <section class="facet-section">
            <!-- : facetRegion.terms.join(", ") === originTerm ? originEval -->
            {Object.entries(entry.facets).flatMap(([facetName, facetInfo]) => [
                <h3 class="facet">{facetName}</h3>,
                ...facetInfo.flatMap(facetRegion =>
                    (
                            <Term evaluation={facetRegion.terms.join(", ") === correction ? correctionEval  : "good"}
                                  countries={facetRegion.regions}>{facetRegion.terms.join(", ")}</Term>)
                )
            ])}
        </section>
        {hasNotes &&
                <p class="notes">Notes:<br/>{entry.notes.join("<br/>")}</p>
        }
        {
            hasSources &&
                <hr/>
                <p class="sources">Sources:<br/>{Object.entries(entry.sources).map(([name, url]) =>
                    (<a href={url}>{name}</a>)
                )}</p>
        }
        <!-- TODO related terms -->
    </Card>
    {
        entry.related &&

        (
                <div class="related-terms">
                    {entry.related.map(relatedWord => (
                            <RelatedTerm word={relatedWord} id={relatedWord}></RelatedTerm>))}
                </div>)
    }
</div>


<style>
    .details-card {
        display: none;
        visibility: hidden;
        padding-bottom: 1.25rem;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }

    .header-section {
        display: flex;
        justify-content: space-between;
    }

    .term {
        margin-left: 0.25em;
    }

    .facet-section {
    }

    .facet-section .term {
        margin-left: 0.75em;
    }

    .facet {
        color: black;
        margin-top: 0.25em;
        margin-bottom: 0.5em;
    }

    .notes {
        font-size: 0.9em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        width: 75%;
        text-wrap: balance;
    }

    hr {
        width: 100%;
        border: solid 0.5px lightslategrey;
    }

    .sources {
        margin-bottom: 0;
        margin-top: 0;
        font-size: 0.7em;
    }

    .related-terms {
        display: flex;
        flex-direction: row;
    }

    /* currently copied from SearchResultCard */

    .alias-string {
        color: darkgrey;
    }

    .katakana {
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        color: floralwhite;
    }

    .badges {
        display: flex;
        flex-wrap: wrap;
        align-self: flex-end;
        justify-content: flex-end;
        margin-left: 0%;
    }
</style>