---
import Badge from "./Badge.astro";
import Card from "./Card.astro";
import Term from "./Term.astro";
import BadgeSection from "./BadgeSection.astro";
import {processData} from "../scripts/processData";
const {word, entry} = Astro.props;
const {
    printKatakana,
    aliasString,
    numDistinctTerms,
    allTerms,
    originTerm,
    originFlags,
    originEval,
    correctionNotNeeded,
    correction,
    correctionFlags,
    correctionEval
} = processData(word, entry);
---

<!-- TODO make search-result take the hide properties -->
<!-- TODO update url on click (populate stack) -->
<search-result data-word={word} class="search-result" id={word}>
    <Card isClickable>
        <h1 class="katakana"><b>{printKatakana}</b><span class="alias-string">{aliasString}</span></h1>
        <div class="info">
            <div class="english">
                {
                    originTerm &&
                        <Term evaluation={originEval} countries={originFlags}>
                            {originTerm}
                        </Term>
                }
                {
                    numDistinctTerms > 1 && (
                        numDistinctTerms === 2 ? (
                                <Term evaluation={correctionEval} countries={correctionFlags}>
                                    {correction}
                                </Term>
                        ) : originEval ==="bad"?(
                            <!-- TODO make look nice -->
                                <Term evaluation="neutral">ネイティブの言い方{numDistinctTerms - 1}つ…</Term>
                        ) : (
                                <Term evaluation="neutral">…他{numDistinctTerms - 1}つ</Term>
                        )
                    )
                }
            </div>
            <BadgeSection tags={entry.tags}/>
        </div>
    </Card>
</search-result>

<style>
    .alias-string {
        color: darkgrey;
    }

    .katakana {
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        color: floralwhite;
    }

    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .search-result {
        display: flex;
    }

    .search-result .card {
        width: 100%;
        margin-top: 0;
    }
</style>

<script>
    import {navigateToCard} from "../scripts/navigation.js";

    class SearchResult extends HTMLElement {
        connectedCallback() {
            this.addEventListener("click", (e) => {
                navigateToCard(this.dataset.word)
            });
        }
    }

    customElements.define("search-result", SearchResult);
</script>
